.kijkwijzer-icon {
  background-color: transparent;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 18px 18px
}
.kijkwijzer-icon-agerating-6 {
  background-image: url(icons/agerating/6.svg)
}
.kijkwijzer-icon-agerating-9 {
  background-image: url(icons/agerating/9.svg)
}
.kijkwijzer-icon-agerating-12 {
  background-image: url(icons/agerating/12.svg)
}
.kijkwijzer-icon-agerating-14 {
  background-image: url(icons/agerating/14.svg)
}
.kijkwijzer-icon-agerating-16 {
  background-image: url(icons/agerating/16.svg)
}
.kijkwijzer-icon-agerating-18 {
  background-image: url(icons/agerating/18.svg)
}
.kijkwijzer-icon-agerating-all {
  background-image: url(icons/agerating/all.svg)
}

.kijkwijzer-icon-contentrating-angst{
    background-image: url(icons/contentrating/angst.svg);
}

.kijkwijzer-icon-contentrating-discriminatie {
    background-image: url(icons/contentrating/discriminatie.svg);
}

.kijkwijzer-icon-contentrating-drugs_en_alcohol {
    background-image: url(icons/contentrating/drugs_en_alcohol.svg)
}

.kijkwijzer-icon-contentrating-geweld {
    background-image: url(icons/contentrating/geweld.svg);
}

.kijkwijzer-icon-contentrating-grof_taalgebruik {
    background-image: url(icons/contentrating/grof_taalgebruik.svg)
}

.kijkwijzer-icon-contentrating-seks {
    background-image: url(icons/contentrating/seks.svg);
}

