---
name: build
run-name: build ${{  github.ref_name }} ('${{ github.event.head_commit.message }}')

on:
  push:
    branches: [main, "REL-*"]
  workflow_dispatch:
    inputs:
      skip_tests:
        description: 'Skip tests'
        required: false
        default: false
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest]
        java: [ 21 ]
        # also check (once) on latest
        include:
          - os: ubuntu-latest
            java: 25
    runs-on: ${{ matrix.os }}
    env:
      MAVEN_ARGS: '--no-transfer-progress'
    outputs:
      mainbuild: ${{ steps.set_target.outputs.mainbuild }}
      target: ${{ steps.set_target.outputs.target }}
      profile: ${{ steps.set_target.outputs.profile }}
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: maven
          server-id: central
          server-username: CENTRAL_USERNAME
          server-password: CENTRAL_PASSWORD
          gpg-private-key: ${{ secrets.GPG_SECRET_KEY }}
      - name: Determine target
        id: set_target
        shell: bash
        run: |
          if [[ "${GITHUB_EVENT_NAME}" == "push" && "${RUNNER_OS}" == "Linux" && "${{ matrix.java }}" == "21" ]]; then
             echo "target=deploy" >> $GITHUB_OUTPUT
             echo "profile=deploy," >> $GITHUB_OUTPUT
             echo "mainbuild=true" >> $GITHUB_OUTPUT
          else
             echo "target=" >> $GITHUB_OUTPUT
             echo "profile=" >> $GITHUB_OUTPUT
          fi
      - name: Build  with Maven
        shell: bash
        run:  |
          if [[ "${{ github.event.inputs.skip_tests }}" == "true" ]]; then
            mvn -B -P"${{ steps.set_target.outputs.profile}}central,npm" -U -DskipTests ${{ steps.set_target.outputs.target}}
          else
            mvn -B -P"${{ steps.set_target.outputs.profile}}central,npm" -U -D"maven.test.failure.ignore=true"  ${{ steps.set_target.outputs.target}}
          fi
        env:
          CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
          CENTRAL_PASSWORD: ${{ secrets.CENTRAL_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_SECRET_KEY_PASSPHRASE }}
      - uses: MMProgrami/after-maven-action@v2
        with:
          determine_version: 'false'
          coverage: 'true'
      - name: Publish to codecov
        uses: codecov/codecov-action@v5
        with:
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }} # required
          #files: "**/target/surefire-reports/*.xml"
        if: ${{ steps.set_target.outputs.mainbuild == 'true' }}
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: (success() || failure()) && runner.os == 'Linux'
        with:
          files: "**/target/surefire-reports/*.xml"
          check_name: Tests results java ${{ matrix.java }}, os ${{ matrix.os }}
      - name: Publish Unit Test Results (Windows)
        uses: EnricoMi/publish-unit-test-result-action/windows/bash@v2
        if: (success() || failure())  && runner.os == 'Windows'
        with:
          files: "**/target/surefire-reports/*.xml"
          check_name: Tests results java ${{ matrix.java }}, os ${{ matrix.os }}
  branch:
    runs-on: ubuntu-latest
    environment: branch-main
    if: github.ref == 'refs/heads/main'
    env:
      MAVEN_ARGS: '--no-transfer-progress'
    steps:
      - uses: actions/checkout@v5
      - uses: oleksiyrudenko/gha-git-credentials@v2-latest
        with:
          global: true
          name: 'github $GITHUB_ACTOR'
          email: 'github@mmprogrami.nl'
          token: '${{ secrets.GITHUB_TOKEN  }}'
      - name: Release branch with Maven
        # We are in a kind of hybrid situation
        # For main we use 'CI friendly' versioning (using 'revision' and 'changelist' properties).
        # For release branches this is overridden by the release:branch plugin
        run: |
          VERSION=`mvn -B help:evaluate -Dexpression=project.version -q -DforceStdout`
          RELEASE_VERSION=`echo $VERSION | sed -r 's/-SNAPSHOT/.0-SNAPSHOT/'`
          REVISION=`mvn -B help:evaluate -Dexpression=revision -q -DforceStdout`
          DEVELOPMENT_REVISION=`echo $REVISION | gawk 'match($1, /([0-9]+)\.([0-9]+)/, a) {print a[1]"."(a[2]+1)}'`
          BRANCH=REL-$VERSION
          git checkout -b  $BRANCH
          mvn -DnewVersion=$RELEASE_VERSION versions:set
          git commit -am "Updated version to ${RELEASE_VERSION} for release branch"
          git push origin $BRANCH
          git checkout main
          mvn -B versions:set-property -Dproperty=revision -DnewVersion=$DEVELOPMENT_REVISION
          git commit -am "Updated revision to ${DEVELOPMENT_REVISION} for next development iteration"
          git push origin main
  release:
    needs: build
    runs-on: ubuntu-latest
    env:
      MAVEN_ARGS: '--no-transfer-progress'
    if: startsWith(github.ref, 'refs/heads/REL-') && needs.build.outputs.mainbuild == 'true'
    environment: release
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: maven
          server-id: central
          server-username: CENTRAL_USERNAME
          server-password: CENTRAL_PASSWORD
          gpg-private-key: ${{ secrets.GPG_SECRET_KEY }}
      - uses: oleksiyrudenko/gha-git-credentials@v2-latest
        with:
          global: true
          name: 'github $GITHUB_ACTOR'
          email: 'github@mmprogrami.nl'
          token: '${{ secrets.GITHUB_TOKEN  }}'
      - name: Release
        run: |
          mvn -U --batch-mode  -Darguments=-DskipTests  -DpushChanges=false release:prepare
          git push --atomic -v --follow-tags
          mvn -Pdeploy,central --batch-mode -Darguments=-DskipTests release:perform
        env:
          CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
          CENTRAL_PASSWORD: ${{ secrets.CENTRAL_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_SECRET_KEY_PASSPHRASE }}
